.growth h2{
    color: #282633;;
    font-size: 38px;
    padding-bottom: 15px;
}
.growth p{
    
    color:#282633;
    font-size: 1.2rem;
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 3%;
}
.g{
    width: 10%;
    position: absolute;
    top: -10%;
    left: -55%;
    transition: transform 0.5s ease;
}
.g:hover{
    transform:scaleY(1.2);
}
.growth div{
    grid-column: 1/2;
    grid-row: 1;  
}
.growth{
   padding: 50px 0;
}
.growth .card-growth{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    
    align-items:end;
    position: relative;
}


.babyimggro {
    height:330px;
    animation: move 2s infinite alternate;
  }
  
  @keyframes move {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
.growth .card-growth img{
    grid-column: 2/3;
    width: 100%;
    border-radius: 25px;
}
.growth .btn-explore{
    width: 55%;
    margin-top: 10%;
    padding: 15px;
   color: #E388C4;
   border: 2px solid #E388C4;
    background-color: white;
    
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.growth .btn-explore:hover{
  
    background-color: #E388C4;
    color: white;

}

@media(max-width:1000px){
    .growth .card-growth{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .growth .card-growth div{
        text-align: center;
    }
}
