
.shoping h2{
    color: #0A6AA6;
    font-size: 38px;
}
.shoping .cardsShoping{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 5%;
}
.shoping .cardsShoping div {
    position: relative; 
}
.shoping img{
    width: 100%;
}
.shoping .cardsShoping .card1{
    grid-column: 1/4;
    grid-row: 1;
}
.shoping .cardsShoping .card2{
    grid-column: 1;
    grid-row: 2/4;
    
}

.shoping .cardsShoping .card4{
    grid-column: 2;
}
.shoping .cardsShoping .card5{
    grid-column: 3;
    grid-row: 2/4;
}
.shoping .card-title {
    position: absolute; 
    bottom: 45%; 
    left: 20%; 
    color:#c071a6;
    opacity: 0; 
    font-size: 40px;
    transition: opacity 0.3s ease;
}

.shoping img:hover {
    opacity: 0.5;
}

.shoping .cardsShoping div:hover .card-title {
    opacity: 1; 
}
.shoping .btn-explore{
    width: 30%;
    margin-top: -5%;
    padding: 15px;
    background-color: #E388C4;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px;
    position: absolute;
    bottom: 20%;
    left: 5%;
    transition: background-color 0.3s ease;
}